<main class="tableMain">
  <h3>Részletes keresés</h3>
  <section id=secondarySearchBar>
    <app-search-order-and-count-handler ></app-search-order-and-count-handler>
  </section>
  <section id="primarySearchbar">
    <app-complex-search-browser></app-complex-search-browser>
  </section>
  <section id="primaryDataSection">
    <app-book-primary-data-displayer></app-book-primary-data-displayer>
  </section>
  <section></section>
  <section id="pageNav">
    <app-page-navigator> </app-page-navigator>
  </section>
</main>
