
.navMain {
  display: block;
}

ul {
  display: inline;
  background-color: lightsalmon;
  border: 1px solid black;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0 5px;
  border-radius: 10px;
}

.actualPage {
  background-color: #DCDCF5;
}

.navButton:hover {
  cursor: pointer;
  color: red
}

li {
  display: inline;
  margin: 5px;
  text-align: center;
}
