body > header {
  height: 90px;
  border: solid 1px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav {
  padding: 10px;
  border: solid 1px;
}

nav > span {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

nav > span > span {
  margin: 0 -5px;
}

nav > span > span > * {
  margin: 0 5px;
}

nav form {
  margin-block-end: 0;
}

#titleDiv {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}

#titleDiv > * {
  margin: 5px;
}

#headImg {
  width: 80px;
  height: 80px;
}
