<form (ngSubmit)="submitLoginForm()" [formGroup]="userLoginForm" id="loginForm">
  <div class="cssTable">
    <span class="cssRow">
      <label for='lgnName'>Felhasználónév:</label>
      <label for='lgnPwd'>Jelszó:</label>

    </span>
    <span class="cssRow">
      <span><input formControlName="name" id="lgnName" type="text"></span>
      <span><input formControlName="password" id="lgnPwd" type="password"></span>
      <span><button type="submit">Login</button></span>
    </span>
    <span class="cssRow">
      <a routerLink="register">Regisztráció</a>
      <a routerLink="forgottenPassword">Elfelejtett jelszó</a>
    </span>
  </div>
</form>
