<div class="twoColumn">
  <div id="indivImageDiv">
    <img alt="{{bookData!.getTitle()}}" [src]="safeImgURl">
  </div>

  <div id="indivDescDiv">
    <h3><label>Cím:</label>{{bookData!.getTitle()}}</h3>

    <p><label>ISBN: </label>{{bookData!.getIsbn()}}</p>

    <p><label>Író(k):</label><span *ngFor="let key of authorIds;let index = index">
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{Author: bookData!.getAuthorByID(key)}">{{bookData!.getAuthorByID(key)}}
      </span>
      <span *ngIf="index!==authorIds.length-1"> - </span>
    </span>
    </p>

    <p><label>Tipus: </label>
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{Type: bookData!.getTypeId()}">
        {{metaService.getTypeById(bookData.getTypeId())}}</span>
    </p>

    <p><label>Kiadó: </label>
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{Publisher: bookData!.getPublisher()}">{{bookData!.getPublisher()}}
      </span>
    </p>

    <p *ngIf="bookData!.getYear() !== 0"><label>Kiadás éve: </label>
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{Year: bookData!.getYear()}">
        {{bookData!.getYear()}}
      </span>
    </p>

    <p><label>Nyelv: </label>
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{Language: bookData!.getLanguageID()}">
        {{metaService.getLanguageNameByID(bookData!.getLanguageID())}}
      </span>
    </p>

    <p *ngIf="bookData!.getSeries()"><label>Sorozat: </label>
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{Series: bookData!.getSeries()}">{{bookData!.getSeries()}}
      </span>
    </p>

    <p><label>Kategória: </label>{{metaService.getCategoryNameById(bookData!.getCategoryId())}}</p>

    <p><label>Célközönség: </label>
      <span class="searchLabel" [routerLink]="['/browse']"
            [queryParams]="{TargetAudience: bookData!.getTargetAudienceId()}">
        {{metaService.getTargetAudienceNameById(bookData!.getTargetAudienceId())}}
      </span>
    </p>

    <p *ngIf="bookData!.getPageNumber() !== 0"><label>Oldalak száma: </label>
      {{bookData!.getPageNumber()}}
    </p>

    <p *ngIf="bookData!.getPhysicalSize() !== undefined"><label>Méret: </label>
      {{bookData!.getPhysicalSize()}} mm
    </p>

    <p *ngIf="bookData!.getWeight() !== undefined"><label>Súly: </label>
      {{bookData!.getWeight()}} g
    </p>

    <p *ngIf="bookData!.getDescription() !== ''"><label>Leírás: </label><span
      class="multilineSpan">{{bookData!.getDescription()}}
    </span>
    </p>

    <p *ngIf="tagLength !== 0"><label>Tagek:</label>
      <ng-container *ngFor="let key of bookData!.getTags();let index = index">
        <span class="searchLabel" [routerLink]="['/browse']"
              [queryParams]="{Tags: [key]}">{{metaService.getTagNameByID(key)}}</span>
        <span *ngIf="index!==(tagLength)-1"> - </span>
      </ng-container>
    </p>

    <p *ngIf="bookData!.getPrice() !== 0"><label>Ár:</label>{{bookData!.getPrice()}} Ft.</p>
    <ng-container *ngIf="bookData!.getDiscount()!==0">
      <p><label>Kedvezmény</label>{{bookData!.getDiscount()}}</p>
    </ng-container>

  </div>
</div>
