.twoColumn {
  display: grid;
  grid-template-columns: 30% 70%;
}

#indivImageDiv > img {
  display: block;

  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}

#indivDescDiv {

  margin-right: 10%;
}

#indivDescDiv label {
  display: inline-block;
  width: 130px;
  text-align: right;
  margin-right: 5px;
}

.multilineSpan {
  margin-left: 130px;
  display: inline-block;
}

ul {
  list-style-type: none;
}

#modifySpan {
  float: right;
}
