<div class="mainDiv">
  <div class="cssTable">
    <span class="cssRow">
      <span >Bejelentkezett felhasználó:<span>{{loggedUser.getUserName()}}</span></span>
      <span><a (click)="logOut()">Kijelentkezés</a></span>
<!--      <label for='lgnPwd'>Jelszó:</label>-->
    </span>
    <span class="cssRow">
    </span>
<!--    <span class="cssrow">-->
<!--      <span><input type="text" id="lgnName" formControlName="name"></span>-->
<!--      <span><input type="password" id="lgnPwd" formControlName="password"></span>-->
<!--      <span><button type="submit">Login</button></span>-->
<!--    </span>-->
<!--    <span class="cssrow">-->
<!--      <a routerLink="register">Regisztráció</a>-->
<!--      <a routerLink="forgottenPassword">Elfelejtett jelszó</a>-->
<!--    </span>-->
  </div>
</div>
