<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">Menü</div>
        <a class="nav-link">Főoldal</a>
        <!--  <a class="nav-link" *ngIf="!hasUser" routerLink="login">Bejelentkezés</a>-->
        <!--  <a class="nav-link" *ngIf="!hasUser" routerLink="register">Regisztráció</a>-->
        <!--  <div class="nav-item" *ngIf="hasUser">-->
        <!--    <a routerLink="profil" style="cursor: pointer">Profil: {{userName}}</a>-->
        <!--  </div>-->
        <!--  <a class="nav-link" *ngIf="hasUser" (click)="logout()">Kijelentkezés</a>-->
        <!--  <a class="nav-link" routerLink="howtouse">Oldal használata</a>-->
      </nav>
    </div>
  </div>
</div>



<!--<nav>-->
<!--    <span>-->
<!--        <span>-->
<!--            <a id="indexlink" href="../../../../../databasetest/index.php">Főoldal</a>-->
<!--            <a id="discountlink" href="../../../../../databasetest/index.php">Akciók</a>-->
<!--            <a id="newreleaselink" href="../../../../../databasetest/index.php">Újdonságok</a>-->

<!--        </span>-->
<!--        <span id="rightdiv">-->
<!--            <a id="aboutuslink" href="../../../../../databasetest/index.php">Rólunk</a>-->
<!--            <a id="shopaccesslink" href="../../../../../databasetest/index.php">Elérhetőség</a>-->
<!--            <a id="faqlink" href="../../../../../databasetest/index.php">Kérdések - Észrevételek</a>-->
<!--        </span>-->
<!--    </span>-->
<!--  <span id=bookmanagenav></span>-->
<!--  <span>-->
<!--        <a href="../../../../../databasetest/index.php" id="browselink">Böngészés</a>-->
<!--        <form method="POST" action="../../../../../databasetest/index.php"><label for="quicksearch">Egyszerű keresés (író vagy cím):&nbsp;</label><input id="quicksearch" name="quicksearch" type="text"><input type="submit" value="keresés"></form>-->
<!--        <a id="complexsearchlink" href="../../../../../databasetest/index.php">Részletes keresés</a>-->
<!--    </span>-->
<!--</nav>-->
