<div>
  <span class="searchLabel" (click)="categorySearch()">{{label}}</span>
  <input class="subCatButton" type="button" value="{{buttonValue}}" (click)="subCategoryButtonEvent()">
  <div *ngIf="areSubCategoriesVisible" class="catNav">
    <div *ngFor="let cat of subCategoryIds">
      <app-sub-category-browser [id]="cat" [label]="getSubCategoryLabelByID(cat)"
                                (subSearchNotify)="onSubComponentNotify($event)">
      </app-sub-category-browser>
    </div>
  </div>
</div>
