<article *ngIf="bookData !== undefined" class="bookArticle">
  <section class="imageSection"><a [routerLink]="['/bookalldata', bookData.getIsbn()]"><img
    [src]="safeImgURl" alt="{{bookData.getTitle()}}"></a></section>
  <section class="dataSection">
    <section class="infoSection">
      <p>
        <span *ngFor="let key of authorIds; let index = index">
          {{ bookData.getAuthorByID(key) }} <span *ngIf="index!==authorIds.length-1">-</span>
        </span>
      </p>
      <p [routerLink]="['/bookalldata', bookData.getIsbn()]" class="searchLabel">{{bookData.getTitle()}}</p>
      <p>{{bookData.getIsbn()}}</p>
      <p>Típus : {{typeString}}</p>

    </section>
    <section class="priceSection">
      <p>Ár: {{bookData.getPrice()}}</p>
      <div *ngIf="bookData.getDiscount() !== 0">
        <p>Kedvezmény: {{bookData.getDiscount()}}</p>
        <p>Kedvezményes ár: {{(bookData.getPrice() / 100) * (100 - bookData.getDiscount())}}</p>
      </div>
    </section>
  </section>
</article>
