<header>
  <nav>
    <span>
        <span>
            <a routerLink="">Főoldal</a>
            <a id="discountlink" href="../../../../../databasetest/index.php">Akciók</a>
            <a id="newreleaselink" href="../../../../../databasetest/index.php">Újdonságok</a>

        </span>
        <span id="rightdiv">
            <a id="aboutuslink" href="../../../../../databasetest/index.php">Rólunk</a>
            <a id="shopaccesslink" href="../../../../../databasetest/index.php">Elérhetőség</a>
            <a id="faqlink" href="../../../../../databasetest/index.php">Kérdések - Észrevételek</a>
        </span>
    </span>
    <span id=bookmanagenav></span>
    <span>
        <a id = "browseLink" routerLink="browse">Böngészés</a>
        <form method="POST" action="../../../../../databasetest/index.php"><label for="quicksearch">Egyszerű keresés (író vagy cím):&nbsp;</label><input
          id="quicksearch" name="quicksearch" type="text"><input type="submit" value="keresés"></form>
        <a id = "detSearchLink" routerLink="detailedSearch" >Részletes keresés</a>
    </span>
  </nav>
</header>
