<h2>Regisztráció</h2>
<form (ngSubmit)="submitRegisterForm()" [formGroup]="userRegisterForm">
  <div>
    <label for="userName">Felhasználónév: </label>
    <input formControlName="userName" id="userName" type="text">
  </div>
  <div>
    <label for="email">Email-cím:</label>
    <input formControlName="email" id="email" type="email">
  </div>
  <div>
    <label for="pwd">Jelszó:</label>
    <input formControlName="password" id="pwd" type="password">
  </div>
  <div>
    <label for="rePwd">Jelszó újra:</label>
    <input formControlName="rePassword" id="rePwd" type="password">
  </div>
  <div class="row">
    <button type="submit">Adat mentése</button>
    <button (click)="cancelForm()" type="button">Visszavonás</button>
  </div>
</form>

