<div class="margin selector">
  <div class="margin">
    <app-criteria-select-element [id]="id"></app-criteria-select-element>
    <div *ngIf="selectedCriteriaInputType==='text'">
      <app-criteria-input-text [id]="id"></app-criteria-input-text>
    </div>
    <div *ngIf="selectedCriteriaInputType==='textWithDataList'">
      <app-criteria-input-text-with-data-list [id]="id"></app-criteria-input-text-with-data-list>
    </div>
    <div *ngIf="selectedCriteriaInputType==='selectOptionGroup'">
      <app-criteria-select-with-option-group [id]="id"></app-criteria-select-with-option-group>
    </div>
    <div *ngIf="selectedCriteriaInputType==='number'">
      <app-criteria-input-number [id]="id"></app-criteria-input-number>
    </div>
    <div *ngIf="selectedCriteriaInputType==='select'">
      <app-criteria-select-input [id]="id"></app-criteria-select-input>
    </div>
    <div *ngIf="selectedCriteriaInputType==='tag'">
      <app-criteria-multiple-check-box [id]="id"></app-criteria-multiple-check-box>
    </div>
  </div>
  <div class="margin">
    <input (click)="deleteCriteria(id)" *ngIf="id > 0" type="button" value="Kritéria törlése">
  </div>
</div>
