<!--<p *ngIf="primaryData !== undefined">{{primaryData.title}}</p>-->
<article class="bookArticle" *ngIf="primaryData !== undefined">
  <section id = "imageSection"><img [src]="safeImgURl"></section>
  <section id = "dataSection">
    <section id = "infoSection">
      <p>
        <span *ngFor="let key of authorIds; let index = index">
          {{ primaryData.author[$any(key)] }} <span *ngIf="index!==authorIds.length-1">-</span>
        </span>
      </p>
      <p>{{primaryData.title}}</p>
      <p>{{primaryData.isbn}}</p>
      <p>Típus : {{typeString}}</p>

    </section>
    <section id = "priceSection">
      <p>Ár: {{primaryData.price}}</p>
      <div *ngIf="primaryData.discount !== 0">
        <p>Kedvezmény: {{primaryData.discount}}</p>
        <p>Kedvezményes ár: {{(primaryData.price/100) * (100-primaryData.discount)}}</p>
      </div>
    </section>
  </section>
</article>
